# ─── Environment ─────────────────────────────────────────────────────────────
.env
.pre-commit-config.yaml
.pytest_cache/

# ─── Backend ─────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.Python


# ─── OS / Editor ─────────────────────────────────────────────────────────────
.DS_Store
.idea/
.vscode/
